@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;

    font-size: 62.5%;
    
    font-size: 10px;
    background-color: #E9E5E0;
}

::selection {
    background-color: #2C3714;
    color: rgb(255, 255, 255);
  }